-
  const dataLists = [
    {
      title: "Products",
      list: [
        {
          link: "#",
          description: "Apple&#174; - iPad&#174; with Retina&#174; display Wi-Fi - 32Gb - White",
          price: "&#36;499.00"
        },
        {
          link: "#",
          description: "16Gb A Series Walkman Video MP3",
          price: "&#36;130.00"
        }
      ]
    },
    {
      title: "Shipping method",
      list: [
        {
          description: "FedEx",
          price: "&#36;13.99"
        }
      ]
    }
  ]
