mixin modal(mods)
  .modal(class=mods)&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-close-modal)
      .modal__content
        if block
          block
        button.modal__close-btn(type="button", aria-label="Закрыть попап", data-close-modal)
          +icon({name: "icon-close", width: 18, height: 18})

