mixin modal-terms
  .modal-terms
    h3.title.title--h3 Terms and Conditions
    p.modal-terms__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec auctor justo. Morbi pellentesque porttitor pharetra. Sed eu congue magna. Donec pellentesque ac tellus a consectetur. Pellentesque in ornare sem, ut condimentum lorem. Praesent vitae mollis ex, id tempor felis. Fusce aliquet dui ac libero consequat, a tempor lacus pretium. Proin fermentum molestie orci, ac condimentum massa. Mauris fringilla ligula ultricies tellus sodales ultricies eu nec risus. Curabitur at nisi ac lorem accumsan tincidunt ut eget nisl.
